.header {
  position: fixed;
  top: 0;
  background-color: #fff;
  color: #333;
  width: 100%;
  text-align: center;
  padding: 8px;
  z-index: 2;
  transform: translateY(-100%);
  transition: transform 300ms;

  &.expand {
    transform: translateY(0);
  }
}

.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  color: #333;
  z-index: 0;
  // z-index: 1;

  &.marker {
    height: 100vh;
    background-color: transparent;
    border-style: none;

    &.first {
      background-color: #eee;
    }

    &.last {
      height: 300vh;
    }
  }
}

.fixed {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  pointer-events: none;
  background-color: darkblue;
  z-index: 0;
  flex-direction: column;
  will-change: opacity;
  color: #333;

  .videoContainer {
    position: relative;
    height: 66vh;
    width: 100%;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// For mobile
@media only screen and (max-width: 750px) {
  .section {
    position: unset;
    top: unset;

    &.marker {
      &.first {
        height: 200vh;
        background: transparent;
      }

      &.last {
        height: 200vh;
      }
    }
  }

  .fixed {
    z-index: -1;
  }
}
