.header {
  position: fixed;
  top: 0;
  background-color: #eee;
  color: #333;
  width: 100%;
  text-align: center;
  padding: 8px;
  z-index: 2;
  transform: translateY(-100%);
  transition: transform 300ms;

  &.expand {
    transform: translateY(0);
  }
}

$headerHeight: 0px;
.section {
  width: 100%;
  height: calc(100vh - $headerHeight);
  scroll-snap-align: center;
  scroll-margin-block-start: $headerHeight;
  // scroll-snap-stop: always;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;
  background-color: black;
  z-index: 0;

  &:nth-of-type(1) {
    margin-top: $headerHeight;
  }

  &.animate {
    // height: 100vh;
    scroll-snap-align: start;
    height: 300vh;
    display: block;
    background-color: darkcyan;
  }

  .card {
    display: flex;
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
    border: 2px solid salmon;
  }
}

@media only screen and (max-width: 750px) {
  .section {
    position: unset;
    top: unset;
  }
}
