.header {
  position: fixed;
  top: 0;
  background-color: #eee;
  color: #333;
  width: 100%;
  text-align: center;
  padding: 8px;
  z-index: 2;
  transform: translateY(-100%);
  transition: transform 300ms;

  &.expand {
    transform: translateY(0);
  }
}

$headerHeight: 0px;
.section {
  width: 100%;
  height: calc(100vh - $headerHeight);
  scroll-snap-align: start;
  // scroll-margin-block-start: $headerHeight;
  scroll-snap-stop: always;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;
  background-color: black;
  z-index: 0;
  // z-index: 1;

  &:nth-of-type(1) {
    margin-top: $headerHeight;
  }

  &.marker {
    // display: none;
    height: 100vh;
    background-color: transparent;
    border: none;

    &.first {
      background-color: black;
    }
    &.last {
      height: 300vh;
    }
  }

  p {
    height: 40vh;
    overflow: scroll;
  }
}

.fixed {
  display: flex;
  // display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  // justify-content: center;
  // align-items: center;
  pointer-events: none;
  background-color: black;
  z-index: 0;
  flex-direction: column;

  will-change: opacity;

  .videoContainer {
    position: relative;
    height: 66vh;
    width: 100%;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// For mobile
@media only screen and (max-width: 750px) {
  .section {
    position: unset;
    top: unset;

    &.marker {
      &.first {
        height: 200vh;
        background: transparent;
      }
      &.last {
        height: 200vh;
      }
    }
  }

  .fixed {
    z-index: -1;
  }
}
