body {
  font-family: sans-serif;
  font-size: 16px;
  // background: black;
  color: #eee;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: underline;
}

// For scroll mobile
body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100%;
}

html {
  scroll-snap-type: y mandatory;
}
